/* 
    color palette
    #388087 (teal blue)
    #6FB388 (moonstroke blue)
    #BADFE7 (powder blue)
    #C2EDCE (MAGIN MINT)
    #F6F6F2 (white smoke)

*/

#title-main {
    overflow: hidden;
    border-radius: 20px;
}


#title-pic {
    overflow: hidden;
    border-radius: 20px;
    /* transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease; */
    transition: 0.3s ease-in-out;
}

#title-pic:hover {
    object-fit: cover;
    transform: scale(1.3);
}

.effect {
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.effect:hover {
    object-fit: cover;
    transform: scale(1.012);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#profile-pic {
    border-radius: 50%;
}

.carousel-custom {
    object-fit: contain;
    width: auto;
    min-height: 700px;
} 

#dark-mode {
    border: none;
    background-color: rgba(240, 248, 255, 0);
}